.dashboard-container {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
}

.dashboard-container .dashboard-header {
    position: relative;
    display: flex;
    align-items: center;

    padding: 50px 50px 80px 50px;
    background: var(--primary);
}

.dashboard-container .dashboard-header .dashboard-header-info-user h3 {
    color: var(--white);
    font-weight: 300;
    margin: 0;
}

.dashboard-container .dashboard-header .dashboard-header-info-user h1 {
    color: var(--white);
    font-weight: 500;
    margin: 0;
    margin-bottom: 12px;
    margin-top: 12px;
}

.dashboard-container .dashboard-header .dashboard-header-info-user h1 span {
    color: var(--white_70);
    font-weight: 500;
    margin: 0;
}

.dashboard-container .dashboard-header .dashboard-header-info-avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 80px;
    margin-left: auto;

    background: var(--white);
    border-radius: 50%;
}

.dashboard-container .dashboard-header .dashboard-header-info-avatar h1 {
    margin: 0;

    font-weight: 400;
    color: var(--primary);
}

.dashboard-container .dashboard-header .dashboard-header-cards {
    position: absolute;
    display: flex;
    top: 80%;
}

.dashboard-container .dashboard-header .dashboard-header-cards .card {
    width: 120px;
    height: 120px;
    padding: 25px;
    background: var(--white);
    border-radius: 8px;
    margin-left: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-container .dashboard-header .dashboard-header-cards .card:first-child {
    margin-left: 0;
}

.dashboard-container .dashboard-header .dashboard-header-cards .card .symbol {
    width: 70px;
    height: 70px;
    background: var(--light_primary);
    border-radius: 50%;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--primary);
    font-size: 20px;
}

.dashboard-container .dashboard-header .dashboard-header-cards .card span {
    color: var(--normal_text);
}