body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #FF6E07;
  --light_primary: #FFE7D6;
  --white: #FFF;
  --white_70: rgba(255, 255, 255, .7);
  --background: #F5F6FA;
  --normal_text: #8F8F8F;
  --placeholders: rgba(47, 46, 65, .55);
  --input: #F3F3F3;
}